<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8" />
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Pragma" content="no-cache">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Error</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>

<main role="main">
  <div class="jumbotron" style="padding:5rem 2rem 1rem 2rem;">
    <div class="container">
      <h1 class="display-3">ERROR OCCURRED</h1>
    </div>
  </div>
</main>

<div class="container">
  <p>ERROR OCCURRED</p>
</div>

<hr />

<!-- Bootstrap JavaScript -->
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

</body>

</html>